* {
    font-family: 'Tajawal', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
    outline: none;

}

/* scroll */

::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}


/* scroll */









html,
body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: url(./image/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}

.layerBeforePeper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .2s;
}

.qu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 5px 0;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 2000;

}

.q {
    text-align: center;
    width: 49%;
    cursor: pointer;
    padding: 7px;
    font-size: 20px;
    border: gray dashed 1px;
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

.q:nth-child(1),
.q:nth-child(2) {
    background-color: #f1be89;
}

.q:nth-child(1):hover,
.q:nth-child(2):hover {
    background-color: rgba(241, 191, 137, 0.831);
}

.q:nth-child(3),
.q:nth-child(4) {
    background-color: #46b9bd;
}

.q:nth-child(3):hover,
.q:nth-child(4):hover {
    background-color: rgba(70, 185, 189, 0.831);
}

.q:nth-child(5),
.q:nth-child(6) {
    background-color: rgb(152, 109, 152);
}

.q:nth-child(5):hover,
.q:nth-child(6):hover {
    background-color: rgba(152, 109, 152, 0.831);
}


.meet {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;


}

.meet img {
    width: 100%;
}

.meet .btn-cv {
    background-image: url(./image/peparcv.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    top: 56%;
    left: 63%;
    transition: all .1s;
}

.meet .btn-cv:hover {
    color: rgb(83, 83, 83);
}


/* social */

.social {
    position: fixed;
    bottom: 0;
    left: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 200px;
    overflow: hidden;
    z-index: 1000;
    animation: goAhead 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

/* animation social*/

@keyframes goAhead {
    0% {
        height: 0;
    }

    20% {
        height: 0;
    }

    100% {
        height: 200px;
    }
}

.social>div {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;

}


.social>div span {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;

}

/* :nth-child(1) */
.social .f1 span:nth-child(1) {
    background-color: #5479a7;

}

.social .f1 span:nth-child(1):hover {
    background-color: #406faa;
}

/* :nth-child(2) */
.social .f1 span:nth-child(2) {
    background-color: #5596e7;

}

.social .f1 span:nth-child(2):hover {
    background-color: #4c8ddc;

}

/* :nth-child(3) */
.social .f1 span:nth-child(3) {
    background-color: #a298d7;

}

.social .f1 span:nth-child(3):hover {
    background-color: #968cca;

}

/* :nth-child(1) */
.social .f2 span:nth-child(1) {
    background-color: #e75571;

}

.social .f2 span:nth-child(1):hover {
    background-color: #e74e6c;

}

/* :nth-child(2) */
.social .f2 span:nth-child(2) {
    background-color: #5d98e0;

}

.social .f2 span:nth-child(2):hover {
    background-color: #4a90e6;

}

/* :nth-child(3) */
.social .f2 span:nth-child(3) {
    background-color: #55e7a1;

}

.social .f2 span:nth-child(3):hover {
    background-color: #55df9c;

}

.social>div span a {
    width: 100%;

}

.social>div span a img {
    width: 100%;

}


.social .flower::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    z-index: -1;
    border: black 2px solid;
}





/* social */


/* paper */
.paper {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    z-index: 5000;
    border-radius: 10px;
    animation: paper .2s ease-in;
    background-color: rgba(0, 0, 0, 0.661);
}

@keyframes paper {
    0% {
        opacity: 0;
    }

    70% {
        opacity: .8;

    }

    100% {
        opacity: 1;

    }

}

.paper .close {
    position: fixed;
    cursor: pointer;
    top: 20px;
    right: 40px;
    font-size: 33px;
    z-index: 51432435523;
}


/* PER-INFO */
.PER-INFO {
    background: linear-gradient(45deg, #F1BE89, #f5a651);
    background-image: url(./image/bg-info.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: inherit;
    height: 100%;
    text-align: center;
    visibility: hidden;
    overflow: auto;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 30px;
}

.PER-INFO .per-img {
    background-color: #FFC33A;
    border-radius: 50%;
    border: #272727 2px dashed;
    overflow: hidden;
    width: 230px;
    height: 230px;
    transition: all ease-in-out .3s;

}

.PER-INFO .per-img img {
    width: 80%;
}

.PER-INFO .per-img:hover {
    background-color: #fbba23;
}

.PER-INFO .per-name {
    background-color: #ffc43a;
    width: max-content;
    padding: 17px 22px;
    border-radius: 30px 3px 50px 10px;
    border: #272727 2px dashed;


}

.PER-INFO .per-name h2 {
    font-size: 25px;
    text-transform: capitalize;

}

.PER-INFO .per-details {
    background-color: #ffc43a;
    width: 60%;
    padding: 17px 22px;
    border-radius: 30px 3px 50px 10px;
    border: #272727 2px dashed;
}

.PER-INFO .per-details p {
    font-size: 19px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 0 !important;
}

@media screen and (max-width:416px) {
    .PER-INFO .per-img {
        background-color: #FFC33A;
        border-radius: 50%;
        border: #272727 2px dashed;
        overflow: hidden;
        width: 177px;
        height: 177px;
        transition: all ease-in-out .3s;
    }

    .PER-INFO .per-name {
        background-color: #ffc43a;
        padding: 10px;
        border-radius: 30px 3px 50px 10px;
        border: #272727 2px dashed;
    }

    .PER-INFO .per-details {
        background-color: #ffc43a;
        width: 90%;
        padding: 17px 22px;
        border-radius: 30px 3px 50px 10px;
        border: #272727 2px dashed;
    }
}

/* PER-INFO */
/* projects */
.projects {
    background: linear-gradient(45deg, #F1BE89, #f5a651);
    background-image: url(./image/bg-info.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: inherit;
    height: 100%;
    text-align: center;
    visibility: hidden;
    display: none;
    overflow: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5% 0;
}

.projects .card {
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 0 10px 0;
    overflow: hidden;
    border: 1px dashed black;
    transition: all ease-in-out .2s;
    overflow: hidden;
    position: relative;

}

.projects .card .icon-cat {
    width: max-content;
    height: 50px;
    position: absolute;
    top: 20%;
    right: -300px;
    overflow: hidden;
    border-radius: 4px 0 0 4px;
    box-shadow: -1px 0px 1px black;
    background-color: #FFC33A;
    z-index: 23424;
    display: flex;
    flex-direction: row;
    gap: 0 15px;
    align-items: center;
    justify-content: space-evenly;
    transition: all .5s ease-in-out;
    padding: 5px;

}

.projects .card .icon-cat img {
    height: 80% !important;
}

.projects .card:hover {
    box-shadow: black 0 0 2px;
}

.projects .card:hover .icon-cat {
    right: 0px;
    padding: 5px;


}

.projects .card>div {
    width: 100%;
    height: 50%;

}

.projects .card img {
    width: 100%;
    height: 100%;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .8s;
}

.projects .card:hover .bg-card img {
    transform: scale(1.1) translateY(2px);
    filter: saturate(1.5) blur(1px)
}

.projects .card-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 49%;
    flex-direction: column;

}

.projects .card-body h5 {
    margin-top: 8px;
    font-size: 22px;
    line-height: 22px;

    text-transform: capitalize;
}

.projects .card-body p {
    margin-bottom: 2px !important;
    font-size: 18px;
    line-height: 22px;
}

.projects .card-body a {
    font-size: 18px;
    text-decoration: none;
    background-color: #ffc43a;
    color: black;
    padding: 9px;
    margin-bottom: 7px;
    display: block;
    border-radius: 20px;
    transition: all ease-in-out .2s;
}

.projects .card-body a:hover {
    background-color: #f3b72d;
}

/* projects */

/* skills */
.SKILLS {
    background: linear-gradient(45deg, #F1BE89, #f5a651);
    background-image: url(./image/bg-sk-ex.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: inherit;
    height: 100%;
    text-align: center;
    visibility: hidden;
    display: none;
    overflow: auto;
    justify-content: start;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    padding: 2% 0 1% 0;
}

.SKILLS .skill {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 20px 0;
    align-items: center;
    flex-direction: column;

}

.SKILLS .skill h2 {
    height: 30%;
    font-size: 25px;
    text-transform: capitalize;
    position: relative;
    line-height: 26px;
    padding-bottom: 9px;

}

.SKILLS .skill h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 0%;
    height: 2px;
    background-color: #164C91;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .6s;
}

.SKILLS .skill h2:hover::after {
    width: 30%;
}

.SKILLS .skill div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #2727276f;
    padding: 10px;
    border-radius: 10px;
}

.SKILLS .skill div img {
    transition: all .2s ease-in-out;

}

.SKILLS .skill div img:hover {
    transform: translateY(-8px);
}


/* skills */

/* EXPERIENCE */
.EXPERIENCE {

    background-image: url(./image/bg-sk-ex.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: inherit;
    height: 100%;
    display: none;
    visibility: hidden;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.EXPERIENCE .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.father-image-exper {
    width: 370px !important;
    height: 370px !important;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
}

.father-image-exper img {
    width: 100%;
    filter: saturate(1);
    transition: all .1s ease-in-out;

}

.father-image-exper img:hover {
    filter: saturate(1.2);
}

.father-info-exper {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 20px !important;
}

.father-info-exper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
    background-color: black;
    z-index: 234343423;
    width: 1px;
    height: 80%;
}

.father-info-exper h3 {
    font-weight: 500;
    position: relative;

}

.father-info-exper h3::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 7px;
    left: -28px;
}

@media screen and (max-width:1000px) {
    .father-image-exper {
        width: 200px !important;
        height: 200px !important;
    }

}

@media screen and (max-width:597px) {

    .father-info-exper h3::after {
        display: none !important;
        left: -2800px !important;
    }
}

@media screen and (max-width:368px) {
    .father-image-exper {
        width: 150px !important;
        height: 150px !important;
    }

    .father-info-exper h3 {
        text-align: center;
    }

    .father-info-exper span {
        text-align: center;
        display: block;
        width: 100%;
    }

}


/* EXPERIENCE */

/* EDUCATION */
.EDUCATION {

    background-image: url(./image/bg-educ-con.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: inherit;
    height: 100%;
    display: none;
    visibility: hidden;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.EDUCATION .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.EDUCATION .image img {
    width: 100%;
    filter: saturate(1);
}

.father-image-EDUCATION img {
    width: 100%;
    height: 100%;
    filter: saturate(1);
}

.father-info-EDUCATION {
    color: rgba(255, 255, 255, 0.872);
    background-color: rgba(0, 0, 0, 0.23);
    padding-left: 45px !important;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 20px !important;
    padding: 20px;
}

.father-info-EDUCATION::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    background-color: rgb(251, 251, 251);
    z-index: 234343423;
    width: 1px;
    height: 80%;
}

.father-info-EDUCATION h3 {
    font-weight: 500;
    position: relative;
    margin-bottom: 0% !important;
}

.father-info-EDUCATION span,
.father-info-EDUCATION p {
    margin: 0 !important;


}

.father-info-EDUCATION span {
    margin-bottom: 12px !important;

}

.father-info-EDUCATION h3::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 7px;
    left: -28px;
}



@media screen and (max-width:597px) {
    .EDUCATION .image {
        margin-top: 120px;
    }

    .father-info-EDUCATION h3::after {
        display: none !important;
        left: -2800px !important;
    }

    .father-info-EDUCATION::after {
        display: none !important;
        left: -2800px !important;
    }
}

@media screen and (max-width:368px) {
    .EDUCATION .img {
        width: 50% !important;
    }

    .father-info-EDUCATION span,
    .father-info-EDUCATION h3,
    .father-info-EDUCATION p {
        text-align: center;
        display: block;
        width: 100%;
    }

    .father-info-EDUCATION {
        padding-left: 1px !important;

    }

}


/* EXPERIENCE */



/* CONTACT */
.CONTACT {
    background-image: url(./image/bg-educ-con.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: inherit;
    height: 100%;
    display: none;
    visibility: hidden;
    overflow: auto;
    text-transform: capitalize;
}

.CONTACT .container h3 {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.434);
    text-align: center;
    font-size: 2.5rem;
    margin: 20px auto;
    padding: 10px;
}

.CONTACT .container .row>* {
    padding: 0 !important;
}

.CONTACT .container form {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.434);
    height: max-content;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}

.CONTACT .container form>div {
    height: max-content;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}

.CONTACT .container form>div input {
    padding: 7px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;


}

.CONTACT .container form .Select {
    width: 100%;
    background-color: #B17FFC;
    color: black;
    padding: 6px;
    margin: 5px 0;

}

.CONTACT ::-webkit-scrollbar-track {
    background: #9e6bea;
}

.CONTACT .container form textarea {
    width: 100%;
    background-color: white;
    color: black;
    padding: 2px 5px;
    resize: none;
    text-align: left;
}

.CONTACT .container .numAndEmailAndInfo {
    background-color: rgba(255, 255, 255, 0.434);
    border-radius: 10px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}

.CONTACT .container .numAndEmailAndInfo>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.CONTACT .container .numAndEmailAndInfo .father-image-contact {
    margin: 23px 0;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
    padding: 15px;
    height: 140px;

}

.CONTACT .container .numAndEmailAndInfo .father-image-contact:hover {
    background-color: rgba(255, 255, 255, 0.197);
}

.CONTACT .container .numAndEmailAndInfo .father-image-contact p {
    margin: 0% !important;
    padding: 0 !important;
    font-size: 19px;
}

.CONTACT .container .numAndEmailAndInfo .info-Contact {
    padding: 10px;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.CONTACT .container .numAndEmailAndInfo .info-Contact p {
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
    margin: 10px 10px;
    width: 70%;
    font-weight: 500;
    font-size: 20px;
}

.CONTACT .container .numAndEmailAndInfo .info-Contact:hover {
    background-color: rgba(0, 0, 0, 0.197);

}

/* CONTACT */
/* paper */



/* make web site responsive */
@media screen and (min-width:250px) and (max-width:600px) {
    .meet {
        top: 57%;
        width: 357px;
    }

    .meet .btn-cv {
        top: 54%;
        left: 62%;
    }

    .qu {
        top: 32%;

    }

    .social>div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .social {
        position: fixed;
        bottom: 0;
        left: 0px;
        flex-direction: column;
        width: 100%;
        height: 100px;
        animation: goAhead 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    }

    @keyframes goAhead {
        0% {
            width: 0;
        }

        20% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }

    .social>div span {
        width: 42px;
        height: 42px;
    }

    .social .flower::after {
        content: "";
        position: absolute;
        top: 45%;
        left: 39%;
        transform: translateX(-50%);
        height: 2px;
        z-index: -1;
        border: black 2px solid;
        width: 86%;
    }


}

/* make web site responsive */